.sign_up-modal {
	.modal-content {
		background: #ffffff;
		border-radius: 40px;
		width: 400px;
		height: auto;
		.login-close-icon {
			position: absolute;
			right: 41%;
			transform: rotate(90deg);
		}
		.sign-up-title {
			text-align: center;
			padding-bottom: 25px;
		}
		.login-form-fields {
			margin: 0;
			text-transform: capitalize;
			.login-fieldset {
				border: none;
			}
		}
		.forgot-password {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 12px;
			color: getColor($blue, 400);
			cursor: pointer;
			a {
				color: getColor($blue, 350);
			}
		}
		.sign-in {
			display: flex;
			align-items: center;
			gap: 10px;
			justify-content: center;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 17px;
			line-height: 12px;
			color: rgba(32, 34, 36, 0.5);
			padding-top: 30px;
			p {
				color: getColor($blue, 350);
				font-weight: 700;
				cursor: pointer;
			}
		}
		.form-group {
			position: relative;
			margin-bottom: 20px;
			.input-field {
				background: #e7eef5;
				border: 1px solid #d1dbe9;
				border-radius: 10px;
				height: 40px;
				width: 329px;
			}
		}
		.login-modal-btn {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
		}
		.password-icon {
			right: 10px;
			top: 11px;
		}
	}
}
.google-login {
	height: 40px;
	background: #ffffff;
	border: 1px solid #3a4553;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	.google-btn {
		display: flex;
		align-items: center;
		gap: 6px;
		cursor: pointer;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #3a4553;
	}
}
.google-login-or {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #3a4553;
	line-height: 0.1em;
	margin: 20px 0 23px;
	span {
		background: #fff;
		padding: 0 10px;
	}
}
