.canvas-section {
	width: 100%;
	max-width: 1200px;
	margin: 40px 15px 0 15px;
	.canvas-div {
		margin: 0 auto;

		.template-save-btn {
			background: #3a4553;
			border-radius: 15px;
			padding: 12px 17px;
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
			color: #ffffff;
		}
		.work-space-section {
			background: url('../../images/workSpaceBackground.png');
			display: grid;
			grid: repeat(3, 249px) / repeat(10, 1fr);
			width: 100%;
			height: 752px;
			overflow: hidden;
			margin-top: 20px;

			.work-space-wrapper {
				border: 1px solid #3a4553;
				padding: 20px 5px 20px 15px;

				.work-space-tittle {
					font-size: 16px;
					line-height: 22px;
					font-weight: 700;
					color: #202224;
				}
			}
		}

		.work-space-section > div:nth-child(8),
		.work-space-section > div:nth-child(9) {
			grid: 30px / repeat(5, 1fr);
		}
		.work-space-section > div:nth-child(8) h3,
		.work-space-section > div:nth-child(9) h3 {
			grid-column: 1 / -1;
		}

		.work-space-section > div:nth-child(8) .note,
		.work-space-section > div:nth-child(9) .note {
			grid-column: span 2;
		}

		.work-space-section > div:nth-child(1),
		.work-space-section > div:nth-child(4),
		.work-space-section > div:nth-child(7) {
			grid-area: span 2 / span 2;
		}

		.work-space-section > div:nth-child(2),
		.work-space-section > div:nth-child(5) {
			grid-column: span 2;
		}

		.work-space-section > div:nth-child(3) {
			grid-column: 3 / span 2;
			grid-row: 2;
		}

		.work-space-section > div:nth-child(6) {
			grid-column: 7 / span 2;
			grid-row: 2;
		}

		.work-space-section > div:nth-child(8),
		.work-space-section > div:nth-child(9) {
			grid-area: -2 / span 5;
		}
	}
}

.canvas-section .ql-container.ql-snow {
	border: none;
	padding-bottom: 20px;
}

/* Snow Theme */
.canvas-section .ql-snow.ql-toolbar {
	display: block;
	background: #d1dbe9;
	border-radius: 20px;
	padding: 18px 15px;
	width: 100%;
	max-width: 700px;
}

/* Bubble Theme */
.canvas-section .ql-bubble .ql-editor {
	border: 1px solid #ccc;
	border-radius: 0.5em;
}

.canvas-section .ql-editor {
	padding: 8px 0 0 0;
}

.themeSwitcher {
	margin-top: 0.5em;
	font-size: small;
}
.editor-toolbar-color {
	width: 25px;
	height: 25px;
	border: 0.5px solid black;
	border-radius: 50%;
	background: attr(data-color);
}

.hidden {
	display: none !important;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: white;
	z-index: 10;
}

.left-bar-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	top: 100px;
	left: 0;
	overflow: hidden;
	max-width: 220px;
	background: #d1dbe9;
	.left-bar-div {
		.tittle-div {
			margin: 25px 25px 0;

			.left-bar-tittle {
				margin: 0;
				font-weight: 700;
				font-size: 18px;
				line-height: 25px;
				color: #202224;
			}
			.bar-close-btn {
				width: 24px;
				height: 24px;
			}
		}
	}
	.template-list-wrapper {
		.template-list {
			overflow-y: auto;
			height: calc(100vh - 184px);
		}
		.templates-box-wrapper {
			margin-top: 30px;
			padding: 0 25px;
			.template-box {
				width: 100%;
				max-width: 200px;
				height: 100px;
				background-color: #e7eef5;
				border-radius: 15px;
				cursor: pointer;
			}
			.active-template {
				border: 1px solid;
			}
		}
	}
}

.right-bar-wrapper {
	width: 100%;
	max-width: 300px;
	height: 100%;
	position: fixed;
	z-index: 0;
	top: 100px;
	right: 0;
	overflow: hidden;
	background: #d1dbe9;
	.save-file-input {
		border: 1px solid rgba(32, 34, 36, 0.4);
		border-radius: 10px;
		padding: 10px;
		width: 100%;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		color: #202224;
	}
	.save-file-name {
		background: #3a4553;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		color: #ffffff;
		width: 100%;
		text-align: center;
		margin: 10px 0 20px 0;
	}
	.version {
		font-size: 25px !important;
		margin: 25px 0 20px 0;
	}
	.right-bar-div {
		padding: 20px 10px;

		.title {
			margin: 25px 0px 0;
		}
		.right-bar-tittle {
			font-size: 15px;
			font-weight: 600;
			line-height: 22px;
			color: #202224;
			padding: 0px 10px;
			margin-bottom: 20px;
		}
		.file-name-input {
			border-bottom: 1px solid rgb(185, 195, 207);
		}
		.all-files {
			padding: 1px 0 15px 10px;
			color: #202224;
			font-size: 25px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.line {
			border-bottom: 1px solid rgb(185, 195, 207);
		}
		.version-list-wrapper {
			height: 280px;
			overflow-y: auto;
			padding: 5px 10px 30px 10px;
			.version-list {
				padding: 5px 0;
				.version-details {
					width: 100%;
					.version-date {
						margin-bottom: 5px;
						padding: 0;
						cursor: pointer;
					}
					.version-status {
						font-size: 12px;
						line-height: 16px;
						font-weight: 400;
						color: #4694db;
						margin-bottom: 5px;
					}
					.version-creator-name {
						font-size: 14px;
						line-height: 19px;
						font-weight: 400;
						color: #202224;
						opacity: 0.5;
					}
				}
			}
		}
	}
	.version-list-dropdown {
		.version-active-dot {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: 5px;
		}
	}
}

.left-sidebar-content {
	padding: 16px;
	transition: transform 0.3s ease-in-out;
}

.right-sidebar-content {
	padding: 16px;
	transition: transform 0.3s ease-in-out;
}
.toggle-button,
.right-bar-wrapper,
.left-bar-wrapper {
	transition: all 0.3s ease;
}
.collapsed {
	overflow: hidden;
	background-color: white;
	width: 0px !important;
	transition: all 0.5s ease;
	.right-bar-wrapper,
	.left-bar-wrapper {
		max-width: 0 !important;
	}
	.right-sidebar-content {
		transform: translateX(100%);
	}
	.left-sidebar-content {
		transform: translateX(-100%);
	}
	.toggle-button {
		transform: rotate(180deg);
	}
}

.toggle-button {
	position: fixed;
	top: 101px;
	right: 0;
	width: 32px;
	height: 31px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 99;
}

.left-button {
	left: 0 !important;
	top: 101px !important;
}

.left-bar-position {
	width: 217px;
	transition: all 0.5s ease-in-out;
}
.right-bar-position {
	width: 300px;
	transition: all 0.5s ease-in-out;
}

.dropdown-toggle {
	padding-top: 0;
	&::after {
		content: none;
	}
}
